<div class="row">
    <div class="col-lg-10 listroutes">
   <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="routeactive">Home</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/services']"  routerLinkActive="routeactive">Servces</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/route']"  routerLinkActive="routeactive">Routing</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/skill']"   routerLinkActive="routeactive">Skills</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/skillist']"   routerLinkActive="routeactive">Skill List</a></li>
  </ol>
 </div>
</div>


